<html>
<head>
    <meta charset="utf-8">
    <title>Un lugar para aprender</title>
    <link href="static/css/login.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Ingresar</h1>
<div>
    <form method="post" action="">
        <input class="input1" name="nombre" placeholder="Nombre de usuario" type="text" required=""><br>
        <input class="input2" name="password" placeholder="Password" type="password" required=""><br>
        <input class="input3" placeholder="" type="submit">
    </form>
</div>

<a href="/registro">Registro</a><br>
<a href="/juego">Crear juego</a><br>


			<p class="p">Sembrando es un Programa de Presidencia de la República que se encuadra en una política de descentralización y desarrollo territorial. Busca fortalecer iniciativas emprendedoras a través de capacitación y espacios para compartir experiencias; crear y fomentar emprendimientos que generen ingresos; así como desarrollar las micro, pequeñas y medianas empresas en todo el país.
Sus cometidos:
Promover el emprendedurismo en todo el territorio nacional.
Conectar al emprendedor con las instituciones públicas y privadas referentes, vinculadas con la promoción y el desarrollo del ecosistema emprendedor.
Apoyar al emprendedor para direccionar sus bienes y servicios hacia los mercados locales e internacionales.
Está orientado a todas aquellas personas, sin límite de edad, que tengan intención de emprender, que estén en proceso de formalizar una idea de negocio o que ya tengan un emprendimiento.
Las capacitaciones son presenciales y grupales junto a expertos y especialistas destacados, quienes imparten herramientas e ideas en todo el país para fomentar la cultura emprendedora y generar ideas de negocio.
</p>
</body>

</html>
