<html>
<head>
    <meta charset="utf-8">
    <title>Modificar juegos</title>
    <link href="../static/css/modificar.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Modificar la url o descripción del juego</h1>
<div>
    <form method="post" action="">

        <input class="input1" name="url" value="{{modificar_juego[0]['URL']}}" type="text" required><br>
        <input class="input1" name="descripcion" value="{{modificar_juego[0]['DESCRIPCION']}}" placeholder="Descricion de juego"
               type="text" required><br>
        {% if mensaje %}
        <p>{{mensaje}}</p>
        {% endif %}
        <input class="input1" type="submit">
    </form>
</div>

</body>
</html>
