<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registro de usuario</title>
	<link href="static/css/pagina2.css" rel="stylesheet" media="screen">
</head>
<body>
	<h1>Registro de usuario</h1>
	<p class="p">Complete los campos para registrarse</p>
	<form method="post" action="">
		<input class="input1" name="nombre" placeholder="Nombre" type="" required="">
		<input class="input1" name="apellido" placeholder="Apellido" type="" required=""><br>
		<input class="input1" name="fecha_de_nacimiento" placeholder="fecha de nacimiento" type="" required="">
		<input class="input1" name="password" placeholder="Password" type="password" required=""><br>
		<input class="input1" name="password" placeholder="Repita contraseña" type="password" required="">
		<input class="input1" name="email" placeholder="Email" type="email" required=""><br>
		<input class="input1"  type="submit"><br>
	</form>

	<a href="/login">Click para volver al login</a>
</body>
</html>